@model OnlineShop.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/knockout-3.5.0.js"></script>
<h2>Login</h2>
    
@using (Html.BeginForm()) {
    <div class="form-group">
        @Html.Label("User Name", new { @class  = "control-label col-2" })
        <div>
         @Html.EditorFor(model => model.UserName, new { data_bind = "UserName"})
        @Html.ValidationMessageFor(m => m.UserName, "", new { style = "color:red"})
        </div>
    </div>

    <div  class="form-group">
        @Html.Label("Password", new { @class = "control-label col-2" })
        <div>
            @Html.EditorFor(model => model.Password, new { data_bind = "Password"})
            @Html.ValidationMessageFor(m=> m.Password, "", new { style = "color:red"})
        </div>
    </div>

    <div >
        <input type="submit" value="Login"/>

        @Html.HiddenFor(m=> m.ReturnUrl)
    </div>
    <div>
        @Html.ValidationSummary()
    </div>
    
}

<script>
    var viewModel = {
        UserName: ko.observable().extend({ required: true }),
        Passowrd: ko.observable().extend({required: true})
    }
</script>

