@model OnlineShop.ViewModels.RegisterViewModel


@{
    ViewBag.Title = "Register";
}
<script src="~/Scripts/knockout-3.5.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Views/Account/Register.js"></script>
<h2>Register</h2>
@using (Html.BeginForm())
{

    <div class="form-group">
        <label class="control-label col-2" for="UserName">User Name</label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.UserName, new { @class = "form-control text-box single-line", data_bind = "value: UserName" })
            @Html.ValidationMessageFor(m => m.UserName,"", new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-2" for="Email">Email</label>
        <div class="col-md-10">
            @*<input class="form-control text-box single-line" id="Email" name="Email" type="email" value="" data-bind="value: Email" />*@
            @Html.EditorFor(m => m.Email, new { @class = "form-control text-box single-line", data_bind = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-2" for="Password">Password</label>
        <div class="col-md-10">
           @Html.PasswordFor(m => m.Password, new { data_bind = "Password" })
           @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-2" for="DateOfBirth">Date Of Birth</label>
        <div class="col-md-10">
           @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control text-box single-line", data_bind = "DataOfBirth" })
           @Html.ValidationMessageFor(m=> m.DateOfBirth, "", new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-2" for="Gender">Gender</label>
      
        <div class="col-md-10">
           @Html.RadioButtonFor(m => m.Gender, "M", new {  data_bind = "Gender" })
           @Html.Label("Male")
           @Html.RadioButtonFor(m => m.Gender, "F", new {  data_bind = "Gender" })
           @Html.Label("Female")
           @Html.ValidationMessageFor(m=> m.Gender, "", new { @style = "color:red" })

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-2" for="Contact">Contact</label>
        <div class="col-md-10">
            @Html.EditorFor(m=>m.Contact, new { @class = "form-control text-box single-line", data_bind = "Contact" })
            @Html.ValidationMessageFor(m=> m.Contact, "", new { @style = "color:red" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-2" for="Address">Address</label>
        <div class="col-md-10">
           @Html.EditorFor(m=> m.Address, new {@class = "form-control text-box single-line", data_bind = "Address" })
           @Html.ValidationMessageFor(m => m.Address, "", new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group">
       <label class="control-label col-2" for="StateId">State</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.StateId, new SelectList(Model.States, "StateId", "State1", Model.StateId), "Select State", new { @data_bind = "value: StateId, event:{ change: getCity()}" })
            @Html.ValidationMessageFor(m => m.StateId, "", new { @style = "color:red" })

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-2" for="CityId">City</label>
        <div class="col-md-10">
            <select data-val-required="Please select City" name="CityId"  data-bind="options: City,
                             optionsText: 'Text',
                             optionsValue: 'Value',
                             optionsCaption: 'Select City'"></select>
            @Html.ValidationMessageFor(m => m.CityId, "", new { @style = "color:red" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn-outline-dark">
        </div>
    </div>
}
<script type='text/javascript'>
   
    var getCitiesUrl = '@Url.Action("getCity")';
    var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
    NewViewModel(viewModel);

    ko.applyBindings(viewModel);

</script>
        
