@model IEnumerable<OnlineShop.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Myorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Myorder</h2>

<div id="main">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaunchDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mrp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SellingPrice)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
            <td>@item.ProductTitle</td>
            <td>@item.LaunchDate</td>
            <td>

                @*<button id="btn_delete" class="label label-primary" data-slno="@item.ProductId" onclick="location.href='@Url.Action("Remove","Cart",item)'">
                    <img src="~/Icons/delete.png" height="30" width="30" />
                </button>*@
            </td>
                    </tr>
        }
            </tbody>
        </table>
</div>