@model IEnumerable<OnlineShop.DataModel.Product>

@{
    ViewBag.Title = "ViewProduct";
}

<h2>ViewProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mrp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </th>
        <th></th>
    </tr>

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
     <script>
              $(function(){
                $("#myTable").dataTable();
              })
    </script>